[init]
	defaultBranch = main

[core]
	excludesfile = /Users/alexandr/.gitignore_global
	autocrlf = input

[user]
	name = Alexandr Cherepanov
	email = xandr.cherepanov@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBj5LI29ud/wIFpIibY99cCCpptL1cPqsTXRTYxt7lO8

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
	template = /Users/alexandr/.stCommitMsg

[color]
	ui = true

[push]
	default = simple

[credential]
	helper = osxkeychain

[includeIf "gitdir:~/Kaspi/"]
  path = .gitconfig_kaspi

