[core]
	excludesfile = /Users/alexandr/.gitignore_global
	autocrlf = input
[user]
	name = Alexandr Cherepanov
	email = xandr.cherepanov@gmail.com
[color]
	ui = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[commit]
	template = /Users/alexandr/.stCommitMsg
[includeIf "gitdir:~/Kaspi/"]
  path = .gitconfig_kaspi
[init]
	defaultBranch = main
