" Settings {{{
" Use system clipboard
" http://stackoverflow.com/questions/8134647/copy-and-paste-in-vim-via-keyboard-between-different-mac-terminals
set clipboard+=unnamed

set idearefactormode=keep
set ideajoin

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
" }}}

source ~/.vimrc

nmap g] :action GotoImplementation<CR>

